ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-left: 0px;
}

.ListItem {
  color: rgb(12, 64, 237);
  width: 70%;
  list-style-type: none;
  line-height: 1.5;
  background-color: rgba(200, 225, 202, 0.5);
  padding-left: 10px;
  border-radius: 20px;
  border-width: thin;
  margin: 20px 60px;
}

@media screen and (max-width: 425px) {
  .ListItem {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .ListItem {
    text-align: left;
    margin: 25px;
    font-weight: bold;
  }
}

button {
  background-color: rgb(254, 135, 37);
  font-size: 1rem;
  border-radius: 10px;
  border-color: rgb(233, 37, 155);
  border-width: thin 0px 10px 0px;
  color: black;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  display: flexbox;
  float: right;
}

button:hover {
  background-color: aqua;
  color: black;
}

@media screen and (max-width: 768px) {
  button {
    font-size: 0.5rem;
    border-width: thin;
    padding: 10px;
  }
}
